<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="getall"
            >getall</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: red" routerLink="create"
            >create</a
          >
        </li>
        <a class="nav-link active" routerLink="delete">delete</a>
        <a class="nav-link active" routerLink="getbyid">getbyid</a>
        <a class="nav-link active" routerLink="update">update</a>
      </ul>
    </div>
  </div>
</nav>
